*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/*universal seting*/
}

.bg{
    position: relative;
    width: 480px;
    height: 360px;
}

#img{
    position: absolute;
      
    top: 17%;
    right: 45px;
    
    -webkit-animation-name: scaleDraw; /*关键帧名称*/
    -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
    -webkit-animation-iteration-count: 1;  /*动画播放的次数*/
    -webkit-animation-duration: 1s; /*动画所花费的时间*/
}
@keyframes scaleDraw {  
            0%{
                transform: scale(0.1);  
            }
          
            100%{
                transform: scale(1.0);
            }
        }


#return{
    position: absolute;
    top: 40%;
    left: 30px;
    transition: all 0.3s;

}
#return:hover{
    position: absolute;
    top: 40%;
    left: 30px;
    transform: scale(0.9);
}